*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, sans-serif;
}

body{
  background:#e0e0e0;
}


.navbar{
  width:90%;
  margin:20px auto;
  padding:15px 25px;
  background:#e0e0e0;
  border-radius:15px;
  display:flex;
  align-items:center;
  justify-content:space-between;
  position:relative;
  box-shadow:
    8px 8px 16px #bebebe,
   -8px -8px 16px #ffffff;
}


.logo{
  font-size:22px;
  font-weight:bold;
  color:#333;
}


.menu{
  display:flex;
  gap:20px;
}

.menu a{
  text-decoration:none;
  color:#555;
  padding:10px 18px;
  border-radius:12px;
  background:#e0e0e0;
  box-shadow:
    6px 6px 12px #bebebe,
   -6px -6px 12px #ffffff;
  transition:0.3s;
}


.menu a:hover{
  box-shadow:
    inset 4px 4px 8px #bebebe,
    inset -4px -4px 8px #ffffff;
  color:#000;
}


.menu a.active{
  color:#2196f3;
  font-weight:bold;
  box-shadow:
    inset 4px 4px 8px #bebebe,
    inset -4px -4px 8px #ffffff;
}


#menu-toggle{
  display:none;
}


.menu-icon{
  display:none;
  flex-direction:column;
  cursor:pointer;
}

.menu-icon span{
  width:25px;
  height:3px;
  background:#555;
  margin:4px 0;
  border-radius:5px;
}



@media (max-width:768px){

  .menu{
    position:absolute;
    top:75px;
    left:0;
    width:100%;
    flex-direction:column;
    gap:15px;
    padding:20px;
    background:#e0e0e0;
    border-radius:15px;
    display:none;
    box-shadow:
      8px 8px 16px #bebebe,
     -8px -8px 16px #ffffff;
  }

  #menu-toggle:checked ~ .menu{
    display:flex;
  }

  .menu-icon{
    display:flex;
  }
}